batter22_output.xml
battery_drop_points.poi.xml

battery_output_final.xml

battery222_output.xml

charging_statations_final.xml

battery_output.xml 
battery_devices.add.xml

batt22ery_drop_points.poi.xml
battery_devices_1500.add.xml
battery_devices_1500_final1.add.xml
battery_devices_1500_updated.add.xml
battery_devices_final.add.xml
chargingStations.add.xml
chargingStations_with_lanes.add.xml
routes_electric.rou.xml
routes_electric_1500.rou.xml
routes_electric_final.rou.xml
routes_electric_fixed.rou.xml
routes_electric_with_stops.rou.xml
routes_updated.rou.xml
routes_with_charging_stops.rou.xml
routes_with_updated_charging_stops.rou.xml
updated_routes_with_charging_stops.rou.xml

battery_output.xml
